// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  display: block;
  margin: 20px auto;
  text-align: center;
  font-family: helvetica;
}

.question {
  background-color: white;
}

.answer {
  background-color: gray;
}
